<div class="jumbotron margen-interno topeUno">
    <h1 class="display-4 text-center topeDos">Empresas
         <i class="fas fa-city"></i></h1>
    <hr class="my-2" >
    <div class="card-content">
        <div class="card-body">
                <ul ngbNav #nav="ngbNav" [activeId]="1" class="nav-tabs justify-content-left nav-justified">
                    <li [ngbNavItem]="1">
                      <ng-template ngbNavContent>
                        <div class="col-md-12">
                            <form [formGroup]="enterpriseForm">
                                <div class="row">
                                    <div class="col-md-6">
                                        <!-- <diV class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text bg-white">
                                                        <i class="fas fa-fingerprint"></i>
                                                    </div>
                                                </div>
                                                    <input type="text" class="form-control" placeholder="Creado Por" 
                                                    formControlName="createBy" oninput="this.value = this.value.toUpperCase()"
                                                    [ngClass]="{ 'is-invalid': f.createBy.invalid && (f.createBy.touched || f.createBy.dirty),
                                                    'is-valid': !f.createBy.invalid && (f.createBy.touched || !f.createBy.dirty)}">
                                            </div>
                                        </diV> -->
                                        <!-- <diV class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text bg-white">
                                                        <i class="fas fa-map-marked-alt"></i>
                                                    </div>
                                                </div>
                                                    <input type="date" class="form-control" placeholder="Fecha de Creación" 
                                                    formControlName="createdDate"
                                                    [ngClass]="{ 'is-invalid': f.createdDate.invalid && (f.createdDate.touched || f.createdDate.dirty),
                                                    'is-valid': !f.createdDate.invalid && (f.createdDate.touched || !f.createdDate.dirty)}">
                                            </div>
                                        </diV> -->
                                        <!-- <diV class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text bg-white">
                                                        <i class="fas fa-address-book"></i>
                                                    </div>
                                                </div>
                                                    <input type="text" class="form-control" placeholder="Modificado Por" 
                                                    formControlName="modifiedBy" oninput="this.value = this.value.toUpperCase()"
                                                    [ngClass]="{ 'is-invalid': f.modifiedBy.invalid && (f.modifiedBy.touched || f.modifiedBy.dirty),
                                                    'is-valid': !f.modifiedBy.invalid && (f.modifiedBy.touched || !f.modifiedBy.dirty)}">
                                            </div>
                                        </diV> -->
                                        <!-- <diV class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text bg-white">
                                                        <i class="fas fa-at"></i>
                                                    </div>
                                                </div>
                                                    <input type="date" class="form-control" placeholder="Fecha de Modificación" 
                                                    formControlName="modifiedDate" oninput="this.value = this.value.toLowerCase()"
                                                    [ngClass]="{ 'is-invalid': f.modifiedDate.invalid && (f.modifiedDate.touched || f.modifiedDate.dirty),
                                                    'is-valid': !f.modifiedDate.invalid && (f.modifiedDate.touched || !f.modifiedDate.dirty)}">
                                            </div>
                                        </diV> -->
                                        <diV class="form-group">
                                          <div class="input-group">
                                              <div class="input-group-prepend">
                                                  <div class="input-group-text bg-white">
                                                      <i class="fas fa-map-marked-alt"></i>
                                                  </div>
                                              </div>
                                                  <input type="text" class="form-control" placeholder="Dirección Empresa" 
                                                formControlName="address" oninput="this.value = this.value.toUpperCase()"
                                                  [ngClass]="{ 'is-invalid': f.address.invalid && (f.address.touched || f.address.dirty),
                                                  'is-valid': !f.address.invalid && (f.address.touched || !f.address.dirty)}">
                                          </div>
                                      </diV>
                                      <diV class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text bg-white">
                                                    <i class="fas fa-city"></i>
                                                </div>
                                            </div>
                                                <input type="text" class="form-control" placeholder="Nombre Empresa" 
                                              formControlName="name" oninput="this.value = this.value.toUpperCase()"
                                                [ngClass]="{ 'is-invalid': f.name.invalid && (f.name.touched || f.name.dirty),
                                                'is-valid': !f.name.invalid && (f.name.touched || !f.name.dirty)}">
                                        </div>
                                    </diV>
                                    </div>
                                    <div class="col-md-6">
                                        <diV class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text bg-white">
                                                        <i class="fas fa-phone-square-alt"></i>
                                                    </div>
                                                </div>
                                                    <input type="text" class="form-control" placeholder="Telefono Empresa" 
                                                    formControlName="phone" maxlength="10"
                                                    [ngClass]="{ 'is-invalid': f.phone.invalid && (f.phone.touched || f.phone.dirty),
                                                    'is-valid': !f.phone.invalid && (f.phone.touched || !f.phone.dirty)}">
                                            </div>
                                        </diV>

                                        <div class="form-group">
                                          <div class="controls">
                                            <div class="form-check" style="margin-top: 1rem;">
                                              <input type="checkbox" id="status" class="form-check-input checkbox-lg"
                                                formControlName="status">
                                              <label class="form-check-label" for="sincronizacion">Estado Activo</label>
                                            </div>
                                          </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                   <button class="btn btn-success btn-lg btn-block" (click)= "OpenModalSave()">
                                    <i class="fas fa-database"></i>   
                                    Guardar
                                </button> 
                                <button class="btn btn-success btn-lg btn-block" (click)= "updateEnterpriseForm()" style="background-color: cornflowerblue;">
                                    <i class="fas fa-sync-alt"></i>   
                                    Refrescar
                                </button> 
                                </div>
                            </form>
                    </div>
                    <div class="col-md-12">
                         <h6 class="text-center">
                            Lista Empresas
                        </h6>
                        <div class="table-responsive">
                          <app-custom-filter [data]="listFilter" [options]="options"
                                 (filterComplete)="filterUpdate($event)">
                          </app-custom-filter>
                            <table class="table table-sm my">
                                <thead>
                                    <tr>
                                        <td>Nombre Empresa</td>
                                        <td>Telefono</td>
                                        <td>Direccion</td>
                                        <td>Creado Por</td>
                                        <td>Fecha de Creación</td>
                                        <td>Modificado Por</td>
                                        <td>Fecha de Modificación</td>
                                        <td>Estado Activo</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let formGroup of tempData.controls; let i = index; let row = row" [formGroup] ="formGroup">
                                      <td>
                                        <div class="position-relative has-icon-left">
                                          <input type="text" class="form-control margin-right-valores" 
                                          formControlName="name">
                                            <div class="form-control-position">
                                              <em class="fas fa-city"></em>
                                            </div>
                                          </div>
                                      </td>
                                        <td>
                                          <div class="position-relative has-icon-left">
                                            <input type="text" class="form-control margin-right-valores" 
                                            formControlName="phone">
                                              <div class="form-control-position">
                                                <em class="fas fa-phone-square-alt"></em>
                                              </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="position-relative has-icon-left">
                                                <input type="text" class="form-control margin-right-valores" 
                                                formControlName="address">
                                                  <div class="form-control-position">
                                                    <em class="fas fa-map-marked-alt"></em>
                                                  </div>
                                                </div>
                                        </td>
                                        <td>
                                          <div class="position-relative has-icon-left">
                                            <input type="text" class="form-control margin-right-nombres" 
                                            formControlName="createBy">
                                              <div class="form-control-position">
                                                <em class="fas fa-user-check"></em>
                                              </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="position-relative has-icon-left">
                                                <input type="date" class="form-control margin-right-valores" 
                                          formControlName="createdDate">
                                                  <div class="form-control-position">
                                                    <em class="fas fa-calendar-alt"></em>
                                                  </div>
                                                </div>
                                        </td>
                                        <td>
                                            <div class="position-relative has-icon-left">
                                                <input type="text" class="form-control margin-right-valores" 
                                                formControlName="modifiedBy">
                                                  <div class="form-control-position">
                                                    <em class="fas fa-user-edit"></em>
                                                  </div>
                                                </div>
                                        </td>
                                        <td>
                                            <div class="position-relative has-icon-left">
                                                <input type="date" class="form-control margin-right-valores" 
                                                formControlName="modifiedDate">
                                                  <div class="form-control-position">
                                                    <em class="fas fa-calendar-alt"></em>
                                                  </div>
                                                </div>
                                        </td>
                                        <td>
                                          <div class="controls">
                                            <div class="form-check" style="margin-top: 1rem;">
                                              <input type="checkbox" id="status-1" class="form-check-input checkbox-lg"
                                                formControlName="status">
                                            </div>
                                          </div>
                                        </td>
                                        <td>
                                          <i class="fas fa-edit text-warning" style="cursor: pointer;"
                                          (click) = "buttonEditEnterprise(formGroup)"></i>
                                      </td>
                                        <td>
                                            <i class="far fa-trash-alt fa-lag text-danger" style="cursor: pointer;"
                                            (click) = "openModalDelete(formGroup.get('id').value, formGroup.get('name').value)"></i>
                                        </td>
                                        <ng-template #modalEliminarEnterprise let-c="close" let-d="dismiss">
                                          <div class="modal-header">
                                            <h4 class="modal-title">Confirmar Eliminar Datos Empresa</h4>
                                            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                              <span aria-hidden="true">&times;</span>
                                            </button>
                                          </div>
                                          <div class="modal-body">
                                              <diV class="form-group">
                                                  <div class="input-group">
                                                        <p>¿Está seguro de eliminar los datos para la Empresa: </p>
                                                        <p> "{{nameEnterpriseGlobal}}" ?</p>
                                                  </div>
                                              </diV>
                                          </div>
                                          <div class="modal-footer">
                                            <button type="button" class="btn btn-outline-secondarbtn btn-danger  mb-2 mb-sm-0 mr-sm-2" (click)="c('Close click')">
                                              <i class="fas fa-sign-out-alt"></i>
                                              Cancelar
                                            </button>
                                            <button type="button" class="btn btn-primary mb-2 mb-sm-0 mr-sm-2" (click)="removeEnterprise(idEnterpriseGlobal)">
                                              <i class="far fa-trash-alt"></i>
                                              Elimnar</button>
                                          </div>
                                      </ng-template>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                      </ng-template>
                    </li>
                  </ul>
                  <div class="tab-content">
                    <div [ngbNavOutlet]="nav"></div>
                  </div>
                </div>
    </div>
</div>
<ng-template #modalSaveEnterprise let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" style="margin-left: 10px !important;">Confirmar Guardar/Editar Empresa</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <diV class="form-group">
            <div class="input-group">
                  <p>¿ Está seguro de guardar los datos para Empresa: </p>
                  <p> "{{enterpriseForm.controls.name.value}}" ?</p>
            </div>
        </diV>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondarbtn btn-danger  mb-2 mb-sm-0 mr-sm-2" (click)="c('Close click')">
        <i class="fas fa-sign-out-alt"></i>
        Cancelar
      </button>
      <button type="button" class="btn btn-primary mb-2 mb-sm-0 mr-sm-2" (click)="saveEnterprise()">
        <i class="fas fa-plus"></i>
        Guardar</button>
    </div>
</ng-template>
